<div class="al-he">
    <div class="a-up">
        <div class="h-30rem"></div>
        <h1 pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft" class="n-alo">Hi friend,</h1>
        <div class="h-30rem"></div>
        <h1 pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft">I'm Alonso DLS.</h1>
        <div class="h-30rem"></div>
        <div class="i-m">
            <p pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft">I’m Alonso Daniel, a junior software
                developer and a Software Engineering student with a passion for building
                digital solutions that make a difference. My journey started with curiosity and a drive to understand
                how
                technology shapes our world. Along the way, I’ve gained experience working with tools like React,
                Angular,
                Node.js, and PostgreSQL, building both web and mobile applications.

                I love solving real-world problems through clean, scalable code and constantly strive to improve my
                skills.
                As a student and developer, I’m excited to contribute to innovative projects and grow in a collaborative
                environment. I'm ready to take the next step and bring my ideas to life with a dynamic, forward-thinking
                team!</p>
        </div>
    </div>
    <div class="image-container">
        <img pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft" src="../../../assets/imgs/Alonso.png"
            alt="Alonso Daniel">
    </div>


</div>
<div class="s-two">
    <div class="edu-y">
        <div class="h-30rem"></div>
        <h1 pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft" class="n-alo">Education</h1>
        <div class="h-30rem"></div>
        <div class="education-section s-two">
            <div class="edu-item" pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft">
                <span class="edu-icon">🎓</span>
                <p class="edu-text">
                    <strong>TSU in Software Development</strong> — University of Technology of León (2022 - 2024)
                </p>
            </div>

            <div class="edu-item" pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft">
                <span class="edu-icon">📘</span>
                <p class="edu-text">
                    <strong>Engineering in Software Development and Management</strong> – University of Technology of
                    León (In progress)
                </p>
            </div>
        </div>
        <div class="h-30rem"></div>
        <h1 pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft" class="n-alo">School Projects</h1>
        <div class="projects-edu">
            <div class="project-item" pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft">
                <div class="project-name">UTLeopolis</div>
                <div class="project-description">
                    A web application designed to manage employees, customers, and products for a cinema. The project
                    involved working with REST APIs, MySQL, HTML, Axios, CSS, and JavaScript. Responsibilities included backend
                    and
                    frontend development, security implementation, and validations in the login and registration pages.
                </div>
            </div>
            <div class="project-item" pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft">
                <div class="project-name">Sicefa</div>
                <div class="project-description">
                    A web application designed to manage employees, customers, and products for a pharmacy. The project
                    involved working with REST APIs, MySQL, HTML, CSS, and JavaScript. Responsibilities included backend
                    and
                    frontend development, security implementation, and validations.
                </div>
            </div>

          
            <div class="project-item" pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft">
                <div class="project-name">Idrives</div>
                <div class="project-description">
                    A web and Android application focused on assisting user care through geolocation services. Built
                    using
                    REST APIs, PostgreSQL, Angular, and Android. Responsibilities included API integration, user
                    interface
                    design, testing, and deployment.
                </div>
            </div>
        </div>
    </div>


</div>