<footer class="footer">
    <div class="container">
        <h2 class="footer-title">Let's Get in Touch</h2>
        <p class="footer-subtitle">Creating with passion and dedication every step of the way. </p>

        <div class="social-links">
            <a href="https://www.linkedin.com/in/alonso-daniel-l%C3%B3pez-silva/" class="social-link">→ LinkedIn</a>
            <a href="https://www.instagram.com/alonso_dani20/" class="social-link">→ Instagram</a>
            <a href="mailto:alonso_dlsilva@outlook.com?subject=Hello%20Alonso&body=Hi%20Alonso,%0D%0A%0D%0AI%20am%20interested%20in%20your%20services%20and%20would%20like%20to%20get%20in%20touch%20with%20you."
                class="social-link">→ Email</a>
            <a href="https://read.cv/alonsodev" class="social-link">→ Read.cv</a>
            <a href="#" class="social-link">→ Resume</a>
        </div>

        <p class="footer-credits">
            Designed and coded by <span class="author" (click)="showEmoji()">Alonso Daniel</span>
        </p>
        <div class="emoji" *ngIf="emojiVisible">🦁</div>

        <p class="copyright">© Alonso Daniel 2024</p>
    </div>
</footer>