<div class="header-container" [ngClass]="{'light-theme': isLightTheme, 'dark-theme': !isLightTheme}">
 
  <div class="left-menu">
    <a mat-list-item *ngFor="let item of menuItems()"
    [routerLink]="item.route"
    routerLinkActive="selec-menu-item"
    #rl="routerLinkActive"
    [class.selected-menu-item]="rl.isActive"
    class="menu-item">
  <span class="menu-item-text">{{item.label}}</span>
  </a>
  </div>

  
  <div class="icon-menu">
    <a *ngFor="let item of items" [href]="item.url || '#'" target="_blank" rel="noopener noreferrer">
      <i [class]="item.icon"></i>
    </a>
  </div>

 
  <div class="right-menu">
    <span class="typing-effect-container" [ngClass]="{'light-text': isLightTheme, 'dark-text': !isLightTheme}">
      <span class="typing-effect">Alonso</span>
    </span>
    <button 
      class="theme-toggle-button" 
      (click)="toggleTheme()"
      [ngClass]="{'light-button': isLightTheme, 'dark-button': !isLightTheme}">
      <i [class]="isLightTheme ? 'pi pi-sun' : 'pi pi-moon'"></i>
    </button>
  </div>
</div>
