/* Estilos base */
.typing-effect-container {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.typing-effect {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid;
  animation: typing 3s steps(6) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.light-text {
  color: black;
}

.dark-text {
  color: white;
}

.ml-3 {
  margin-left: 1rem;
}

.theme-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3.6rem;
}

/* Estilo del header dinámico */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  transition: background-color 0.3s ease;

  /* Tema claro */
  &.light-theme {
    color: #000000;
  }

  /* Tema oscuro */
  &.dark-theme {
    color: #f9f9f9;
  }

  .left-menu {
    display: flex;
    gap: 30px;

    .menu-item {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: bold;
      color: inherit;
      transition: color 0.3s ease;

      &:hover {
        color: #007bff;
      }
    }
  }

  .icon-menu {
    display: flex;
    gap: 20px;

    a {
      color: inherit;
      font-size: xx-large;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #007bff;
      }
    }
  }

  .right-menu {
    display: flex;
    align-items: center;
    gap: 10px;

    .theme-toggle-button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.8rem;
      transition: color 0.3s ease;

      &.light-button {
        color: #000000;
      }

      &.dark-button {
        color: #f9f9f9;
      }
    }
  }

  .typing-effect-container {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    .left-menu {
      gap: 15px;
      margin-bottom: 10px;

      .menu-item {
        font-size: 1.4rem;
      }
    }

    .icon-menu {
      gap: 15px;
      margin-bottom: 10px;

      a {
        font-size: large;
      }
    }

    .right-menu {
      gap: 5px;

      .theme-toggle-button {
        font-size: 1.5rem;
      }
    }

    .typing-effect-container {
      display: none; /* Ocultar el efecto de escritura en móviles */
    }
  }
}

@media (max-width: 480px) {
  .header-container {
    .left-menu {
      flex-direction: column;
      gap: 10px;
    }

    .icon-menu {
      flex-wrap: wrap;
      gap: 10px;
    }

    .right-menu {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}