<div class="al-he">
    <div class="af-he">
        <span class="location">Bases in Leon</span>
        <!-- <i class="pi pi-arrow-right"></i> -->
       <span class="di-rt"> &nbsp;→&nbsp;</span>

        <span class="clock">{{currentDate}}</span>
    </div>

    <div class="h-30rem"></div>
    <h1 pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="n-alo">Alonso Daniel LS.</h1>
    <div class="h-30rem"></div>

    <h1 pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft">Software developer</h1>

</div>