.n-alo {
  color: var(--text10);
}

h1 {
  -webkit-font-smoothing: antialiased;
  font-size: 88px;
  font-style: normal;
  font-weight: 800;
  line-height: 107px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-top: 30px;
  margin-left: 30px;
}

.al-he {
  /* display: flex; */
  padding-top: 9rem;
  justify-content: center;
}
/* Clase para la animación de entrada */
.fadein {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

/* Clase para la animación de salida */
.fadeout {
  opacity: 1;
  animation: fadeOut 1s forwards;
}

/* Keyframes para las animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeinleft {
  opacity: 0;

  animation: fadeInLeft 1s forwards;
}

.fadeoutleft {
  opacity: 1;

  animation: fadeOutLeft 1s forwards;
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.af-he {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  font-family: var(--font-family2);
  font-size: 16px;
  margin-left: 30px;
}

.location {
  font-size: 1.2rem;
}

.di-rt {
  font-size: 2rem;
}

.clock {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  -webkit-font-smoothing: antialiased;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: 107px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-top: 30px;
  margin-left: 40px;
  z-index: 1;
}

.w-alo {
  color: var(--text8);
  margin-left: 30px;
}
.al-wo {
  display: flex; 
  align-items: center; 
  justify-content: left; 
  gap: 10px;  
  font-family: var(--font-family2);
  font-size: 16px;
  margin-left: 30px;
  margin-top: 60px;
}

.t-expe {
  font-size: 1.5rem;
  font-weight: bold;
}
/* General container styles */
.section {
  padding: 20px;
  border-radius: 12px;
  max-width: 900px;
  text-align: left;
}

/* Title and arrow styles */
.title {
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 107px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-left: 60px;
  z-index: 1;
}

.arrow {
  margin-left: 30px;
  font-size: 36px;
  font-weight: normal;
}

/* Subtitle styles */
.subtitle {
  font-size: 20px;
  margin: 10px 0 20px;
  margin-left: 60px;
}

/* Image container styles */
.image-container {
  background-color: var(--background-color1);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  width: 1000px;
  height: 400px;
  transition: background-color 0.5s ease;
}

.image-container:hover {
  background-color: var(--background-color2);
}

.image-container img {
  width: 700px;
  height: 260px;
  border-radius: 8px;
  transition: transform 0.6s ease;
}

image-container:hover img {
  transform: scale(2.2);
}

.c-ex {
  display: block;
  align-content: center;
  margin: auto;
  max-width: 1168px;
  padding-bottom: 1rem;
}

/* Tabla personalizada */
.custom-table {
  width: 1050px;
  height: 400px;
  border-collapse: collapse;
  margin-left: 60px;
  font-size: 18px;
  text-align: left;
  display: flex;
  background-color: transparent !important;
  border: none;
}

.custom-table td {
  /* color: var(--text20); */
  font-family: var(--font-family2);
  font-size: 20px;
  overflow: hidden;
  background-color: transparent !important;
  border: none;
}

.custom-carousel {
  width: 100%;
}
::ng-deep .custom-carousel {
  .p-carousel {
    overflow: hidden !important;
  }

  .p-carousel-content {
    overflow: hidden !important;
  }

  .p-carousel-container {
    overflow: hidden !important;
  }

  .p-carousel-items-container {
    overflow: hidden !important;
  }

  /* Añade estas nuevas reglas */
  .p-carousel-items-content {
    overflow: hidden !important;
  }

  .p-carousel-items {
    overflow: hidden !important;
  }
}
.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: transparent !important;
}

.logo-image {
  width: 70px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.logo-image:hover {
  transform: scale(1.1);
}

p-table {
  overflow: hidden;
}

::ng-deep .p-datatable {
  background-color: transparent !important;
}

::ng-deep .p-datatable-tbody > tr {
  background-color: transparent !important;
}

@media screen and (max-width: 768px) {
  .al-he {
    padding: 2rem 1rem;
  }

  h1, h2 {
    font-size: 8vw;
  }

  .title {
    font-size: 6vw;
  }

  .subtitle {
    font-size: 4vw;
  }

  .image-container img {
    width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: 8px;
  }

  .custom-table td {
    font-size: 16px;
  }

  .carousel-item {
    width: 80px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 5vw;
  }

  .subtitle {
    font-size: 3.5vw;
  }

  h1, h2 {
    font-size: 12vw;
  }

  .di-rt {
    font-size: 1.5rem;
  }

  .custom-table td {
    font-size: 14px;
  }

  .location, .clock {
    font-size: 1rem;
  }
}

.t-ex{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 35px;
  font-family: var(--font-family2);
}

