<div class="al-he">
    <div class="af-he">
        <span class="location">Based in Leon, MX</span>
        <!-- <i class="pi pi-arrow-right"></i> -->
        <span class="di-rt"> &nbsp;→&nbsp;</span>

        <span class="clock">{{currentDate}}</span>
    </div>

    <div class="h-30rem"></div>
    <h1 pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="n-alo">Alonso Daniel LS.</h1>
    <div class="h-30rem"></div>
    <h1 pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft">Software developer</h1>
    <div class="al-wo">
        <div class="h-20rem"></div>
        <h2 pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="w-alo">Work Experience</h2>
    </div>
<div class="al-ex-wo">
    <!-- Experiencia 1 -->
    <div class="h-30rem"></div>
    <h2 pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout" class="ex-1">Bandana Products</h2>
    <span class="di-ex"> &nbsp;→&nbsp;</span>
    <div class="image-container">
        <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="250" class="im-ex"></p-image>
    </div>
</div>

</div>