<div class="al-he">
    <div pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft" class="af-he">
        <div class="h-30rem"></div>

        <span class="location">Based in Leon, MX</span>
        <!-- <i class="pi pi-arrow-right"></i> -->
        <div class="h-30rem"></div>

        <span class="di-rt"> &nbsp;→&nbsp;</span>
        <div class="h-30rem"></div>

        <span class="clock">{{currentDate}}</span>
    </div>

    <div class="h-30rem"></div>
    <h1 pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="n-alo">Alonso Daniel LS.</h1>
    <div class="h-30rem"></div>
    <h1 pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft">Software developer</h1>
    <div class="c-ex" pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft">
        <div class="al-wo">
            <div class="h-20rem"></div>
            <h2 class="w-alo">Work Experience</h2>
        </div>
        <div class="section">
            <div class="h-30rem"></div>

            <h1 class="title">
                Bandana Products <span class="arrow">&nbsp;→&nbsp;</span>
            </h1>
            <p class="subtitle">An automation and bot tool scraping platform for the online marketplaces.</p>
            <div class="image-container">
                <img src="../../../assets/imgs/logo-bandana.png" alt="Bandana Logo">
            </div>
        </div>
    </div>
    <div class="c-ex" pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft">
        <div class="section">
            <div class="h-30rem"></div>
            <h1 class="title">
                ITSmartS <span class="arrow">&nbsp;→&nbsp;</span>
            </h1>
            <p class="subtitle">Design and development of a scalable software suite .</p>
            <div class="image-container">
                <img src="../../../assets/imgs/itsmarts_logo.png" alt="ITSmartS Logo">
            </div>
        </div>
    </div>
    <div class="c-ex" pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft">
        <div class="skills">
            <div class="h-30rem"></div>
            <h1 class="title">Skills</h1>
            <p-table [value]="skills" [responsiveLayout]="'scroll'" class="custom-table">
                <ng-template pTemplate="body" let-skill>
                    <tr>
                        <td>{{ skill.name }}</td>
                        <td>
                            <p-carousel [value]="skill.languages" [numVisible]="3" [numScroll]="1" [circular]="true"
                                [showNavigators]="false" [showIndicators]="false" [autoplayInterval]="3000"
                                class="custom-carousel">
                                <ng-template pTemplate="item" let-language>
                                    <div class="carousel-item">
                                        <img [src]="language.img" [alt]="language.name" class="logo-image" />
                                    </div>
                                </ng-template>
                            </p-carousel>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

</div>