/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root{
    --text20: #333333;
    --text10: #666666;
    --text8: #999999;
    --text6: #cccccc;
    --text4: #e5e5e5;
    --text2: #f2f2f2;
    --text1: #f7f7f7;
    --font-family1: 'Inter', sans-serif;
    --fon-family2: 'Nunito Sans', sans-serif;
    --font-family-apple: 'Roboto', sans-serif;
    --background-color1: rgba(0, 0, 0, 0.06);
    --background-color2: rgba(200, 199, 199, 0.822);
}
